.widget-2-col-img-img {
    img {
        width: 100%;
    }

    div {
        &:first-child {
            @include breakpoint (small only) {
                margin-bottom: 60px;
            }
        }
    }

    blockquote {
        @include breakpoint (small only) {
            margin-top: -10px;
        }
    }
}
