$foundation-palette: (
    primary: #1779ba,
    secondary: #767676,
    success: #3adb76,
    warning: #ffae00,
    alert: #cc4b37,
    light-gray: #e6e6e6,
    medium-gray: #cacaca,
    dark-gray: #8a8a8a,
    black: #0a0a0a,
    white: #fefefe
);
$primary: map-get($foundation-palette, primary);
$secondary: map-get($foundation-palette, secondary);
$success: map-get($foundation-palette, success);
$warning: map-get($foundation-palette, warning);
$alert: map-get($foundation-palette, alert);
$light-gray: map-get($foundation-palette, light-gray);
$medium-gray: map-get($foundation-palette, medium-gray);
$dark-gray: map-get($foundation-palette, dark-gray);
$black: map-get($foundation-palette, black);
$white: map-get($foundation-palette, white);

@include color-classes($foundation-palette);
