.search-keywords {
	font-size: 20px;
	strong {
		color: $black;
		font-weight: 500;
	}
}

.result-count {
	span {
		font-size: 20px;
	}
	hr {
		// TODO UNDECLARED VARIABLE
		color: #ccc;
	}
}

.search-keywords-suggestion {
	font-size: 20px;
	font-weight: 500;
	color: $black;
}

.search-tips {
	font-size: 16px;
	margin-bottom: 60px;
}